<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/registerpage}" th:object="${user}">
    <label for="firstName"> User's First Name</label>
    <input th:name="firstName"   type="text" id="firstName"/>
    <br>

    <label for="lastName">User's Last Name</label>
    <input th:name="lastName" type="text" id="lastName"/>
    <br>

    <label for="email"> Email </label>
    <input th:name="email" type="text" id="email"/>
    <br>

    <label for="password"> Password </label>
    <input th:name="password" type="text" id="password"/>

    <input type="submit" name="submit" value="Submit"/>
</form>
<a href="/"> Return to Login Page</a>
</body>
</html>